<div class="container" ng-controller="AlbumDetailsController" ng-cloak>
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-6">
                    <h1>{{artist.ArtistName}}</h1>
                    <h2><b>{{artist.Albums[0].AlbumName}}</b></h2>
                    <p>
                        <strong>Year: </strong>{{(artist.Albums[0].Year).substr(0, 4)}}
                    </p>
                    <div>
                        <ul>
                            <li ng-repeat="single in artist.Albums[0].Singles">
                                <a ng-href="#!/single-details/{{single.SingleId}}">{{single.SingleName}}</a>
                            </li>
                        </ul>                   
                    </div>
                </div>
                <div class="col-md-6 image-container">
                    <img src="{{artist.Albums[0].AlbumImageUrl}}"/>
                </div>
            </div>
        </div>
    </div>