<div class="container" ng-controller="ArtistDetailsController">
        <div class="jumbotron" ng-repeat="artist in allArtists" ng-cloak>
            <div class="row">
                <div class="col-md-5">
                    <div class="text-center">
                        <h1>{{artist.name}}</h1>
                    </div>
                        <p>
                        <strong>Label: </strong>{{artist.label}}
                        <br/>
                        <strong>Albums: </strong>{{artist.albumsCount}}
                    </p>
                    <div>
                        <ul>
                            <li ng-repeat="album in artist.albums">{{album.title}}</li>
                        </ul>                   
                    </div>
                </div>
                <div class="col-md-7 image-container">
                    <img src="{{artist.image}}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 text-center">
                    <button class="btn btn-success btn-lg" ng-click="addFavouriteArtist(artist.id)"><span class="glyphicon glyphicon-heart"></span></button>
                </div>
            </div>
        </div>
    </div>