<div class="container" ng-controller="ArtistDetailsController">
        <div class="jumbotron" ng-repeat="artist in allArtists" ng-cloak>
            <div class="row">
                <div class="col-md-5">
                    <div class="text-center">
                        <h1>
                            <a ng-href="#!/artist-details/{{artist.ArtistId}}">{{artist.ArtistName}}</a>
                        </h1>
                    </div>
                        <p>
                        <strong>Label: </strong>{{artist.Label}}
                        <br/>

                    </p>
                    <div>
                        <ul>
                            <li ng-repeat="album in artist.Albums">
                                <a ng-href="#!/album-details/{{album.AlbumId}}">{{album.AlbumName}}</a>
                            </li>
                        </ul>                   
                    </div>
                </div>
                <div class="col-md-7 image-container">
                    <img src="{{artist.ArtistImageUrl}}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 text-center">
                    <button class="btn btn-success btn-lg" ng-click="addFavouriteArtist(artist.ArtistId)"><span class="glyphicon glyphicon-heart"></span></button>
                </div>
            </div>
        </div>
    </div>